# Node.js modules
node_modules/

# Angular build output
dist/
out-tsc/

# Environment files (no subas información sensible)
src/environments/*.ts

# Editor and system files
.vscode/
.idea/
*.log
*.DS_Store
*.tmp
*.bak
*.swp

# Git y configuraciones
.git/
